################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/77b6394f-be93-43ae-ae9e-c0a12fc85c88.vsidx
/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/f233a3a1-af6a-400f-b325-57c4d8f11b2c.vsidx
/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/962ef50f-dc3e-4ada-a7ab-4f7c219d40ee.vsidx
/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/0cb277d2-d97a-4ff9-a2bc-04fc07f33999.vsidx
/.vs/GaidukovPSBstudyCalculator/v17/.wsuo
/.vs/GaidukovPSBstudyCalculator/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/1f12fa1c-6367-4939-9c62-205f2a04ee17.vsidx
/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/44f4a860-9bbf-46a9-bb63-b9af6e5fbf47.vsidx
/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/a576564a-75be-4ef2-9f93-4cc3742dfbd2.vsidx
/GaidukovPSBstudyCalculator/.vs/ProjectEvaluation/gaidukovpsbstudycalculator.metadata.v8.bin
/GaidukovPSBstudyCalculator/.vs/ProjectEvaluation/gaidukovpsbstudycalculator.projects.v8.bin
/GaidukovPSBstudyCalculator/.vs/ProjectEvaluation/gaidukovpsbstudycalculator.strings.v8.bin
/GaidukovPSBstudyCalculator/GaidukovPSBstudyCalculator/obj/Debug/net8.0/GaidukovPSBstudyCalculator.AssemblyInfo.cs
/GaidukovPSBstudyCalculator/GaidukovPSBstudyCalculator/obj/Debug/net8.0/GaidukovPSBstudyCalculator.AssemblyInfoInputs.cache
/GaidukovPSBstudyCalculator/GaidukovPSBstudyCalculator/obj/Debug/net8.0/GaidukovPSBstudyCalculator.assets.cache
/GaidukovPSBstudyCalculator/GaidukovPSBstudyCalculator/obj/Debug/net8.0/GaidukovPSBstudyCalculator.GeneratedMSBuildEditorConfig.editorconfig
/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/6f2bd254-8c1b-4c17-815b-49d06733c400.vsidx
*.vsidx
