################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/77b6394f-be93-43ae-ae9e-c0a12fc85c88.vsidx
/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/f233a3a1-af6a-400f-b325-57c4d8f11b2c.vsidx
/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/962ef50f-dc3e-4ada-a7ab-4f7c219d40ee.vsidx
/GaidukovPSBstudyCalculator/.vs/GaidukovPSBstudyCalculator/FileContentIndex/0cb277d2-d97a-4ff9-a2bc-04fc07f33999.vsidx
